
main{
  width: 80%;
  min-width: 400px;
  margin: auto;
  display: block;
  margin-bottom: 1rem;
}

mat-expansion-panel {
  background-color: #2c3e50;
  color: #ffffff;
}

mat-expansion-panel-header {
  background-color: #2c3e50;
  color: #4dc4ae;
}

.info-text-comment {
  text-align: left;
}

.del-button {
  color: #ffffff;
  border-radius: 4px;
  background-color: #4dc4ae;
  width: 80px;
  border: 1px solid #ffffff;
}

.del-button:hover {
  background-color: #3eaf9a;
}

.edit-button {
  color: #ffffff;
  background-color: #354a5e;
  width: 80px;
  border: 1px solid #ffffff;
}
