<div class="container-fluid card-wrap">
    <div class="row">
        <div class="col-sm-3 card-group" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <div class="card cards-icon">
                <div class="card-body mx-auto">
                  <h5 class="">Facebook</h5>
                  <p class=""><i class="fa fa-facebook-square fa-5x" aria-hidden="true"></i></p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 card-group" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <div class="card cards-icon">
                <div class="card-body mx-auto">
                  <h5 class="">Instagram</h5>
                  <p class=""><i class="fa fa-instagram fa-5x" aria-hidden="true"></i></p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 card-group" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <div class="card cards-icon">
                <div class="card-body mx-auto">
                  <h5 class="">Twitter</h5>
                  <p class=""><i class="fa fa-twitter-square fa-5x" aria-hidden="true"></i></p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 card-group" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <div class="card cards-icon">
                <div class="card-body mx-auto">
                  <h5 class="">Linkedin</h5>
                  <p class=""><i class="fa fa-linkedin-square fa-5x" aria-hidden="true"></i></p>
                </div>
            </div>
        </div>
    </div>
</div>

